<footer>
  <div class="container-fluid bg-dark text-white text-monospace text-center mt-4">
    <small>{{.Site.Copyright | safeHTML }} Theme: <a class='text-warning' href="https://themes.gohugo.io/monopriv">Monopriv</a> | Crafted with <a class='text-warning' href="https://gohugo.io">Hugo</a></small>
  </div>
  {{ if .Site.Params.analytics }}
    {{ template "_internal/google_analytics.html" . }}  
{{ end }}
</footer>
