{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container text-center mt-4">
	<h3 class="text-monospace">Recent Posts</h3>
		<div class="container">
			{{range first 5 .Site.RegularPages }}
				{{if eq .Section "post"}}
				<div class="mt-3">
					<h6><a href="{{.Permalink}}">{{.Title}}</a></h6>
					<small class="text-monospace">{{ .PublishDate.Format "January 2, 2006" }}</small>
				</div>
				{{end}}
			{{end}}
		</div>
</section>
<section class="container text-center mt-2">
	<a href='https://stallman.org/facebook.html' target="_blank">
		<img  class="img-responsive" src='{{ "img/no-facebook.png" | absURL }}' width="200px" alt="I'm Not On Faceboook">
	</a>
</section>
{{end}}

